@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Variable.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Variable-Italic.ttf);
    font-style: italic;
}

body {
    background-color: #EDC587;
    font-family: "Inter";
    color: #3D2E18;
}