@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Variable.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Variable-Italic.ttf);
    font-style: italic;
}

:root {
    --content-width: 860px;
    --horizontal-margin: 30px;
}

body {
    background-color: #EDC587;
    font-family: "Inter";
    color: #3D2E18;
    line-height: 1.6;
}

@media (max-width: 660px) {
    :root {
        --horizontal-margin: 15px;
    }
}

a,
.style-like-a,
a .style-like-a-inner {
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: 0.1578em;
}

a:hover,
a:focus,
.style-like-a:hover,
.style-like-a:focus,
a:hover .style-like-a-inner,
a:focus .style-like-a-inner {
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

.width-container {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
}

/* The value is 960 + (30 * 2).
   860 is the max width
   30 is the margin */
@media (max-width: 920px) {
    .width-container {
        max-width: unset;
        margin-left: var(--horizontal-margin);
        margin-right: var(--horizontal-margin);
    }
}